body {
	font-family:'Montserrat', sans-serif;
  width:100%;
}

.bod {

  margin-left: 60px;
}

header{
  margin-left: 10px;
}

header a{
  color:black;
  background:rgba(40,40,40,); 
  display:inline-block; 
  padding:5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 20px;
  /*height:50px;
  line-height:40px;*/
  text-align:left;
  text-decoration:none;
  text-transform:uppercase; 
  letter-spacing:2px;
}

h1 {
	font-size: 50px;
	color: black;
  padding: 0px;
}

.bod h2{
  font-family: "Trade Gothic Condensed","Helvetica",sans-serif;
  font-size: 15px;
  color: #265ea7;
  letter-spacing: 0.02em;

}

.subhead h1{
  font-family: "Trade Gothic Condensed","Helvetica",sans-serif;
  text-align: left;
  font-size: 18px;
  line-height: 16px;
  color: #333;
  margin-bottom: 10px;
  font-weight: 300;
  max-width: 80%;
}

.headline h1{
  margin-top: 20px;
  font-family: "Georgia", sans-serif;
  font-weight: bold;
  max-width: 80%;
}

.nav li { 
	color: black;
  background-color:rgb(200,200,200); 
	/*float:left;*/
  display: inline;
  margin: 5px;
  margin-bottom: 20px;
  padding: 10px;
}

.headerimage img {
  display: block;
  margin-right: 60px;
  max-width:80%;
}

.byline ul{
  margin-bottom: 20px;
  margin-top: 10px;
}

.byline li{
  display:inline;
  margin-right: 15px;
  font-size: 14px;
}

.homefeatured h1{
  text-decoration: none;
  color: black;
  width: 500px;
  font-size: 20px;
  padding-bottom: 10px;
  padding-top: 20px;
}

.homefeatured a{
  text-decoration: none;
  color: black;
}

.featuredimage img{
  width: 500px;
  padding-top: 10px;
  padding-bottom: 20px;
}

p{
  width: 600px;
  max-width: 80%;
  text-align: 40px;
  font-family: "Georgia", sans-serif;
  font-size: 18px;
  line-height: 28px;
  word-spacing: .5px;
  margin-bottom: 20px;
}

.embedimage img{
  width: 600px;
  max-width: 80%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.restauranttext a{
  text-decoration: none;
  color: black;
  padding-top: 10px;
}

.restauranttext h1{
  width: 120px;
  max-width: 30%;
  float: left;
  font-size: 15px;

}

.restaurantimage img{
  max-height:200px;
  max-width: 60%;
  float: right;
  padding-right: 20px;
  padding-bottom: 20px;
}

.column{
  float: left;
  width: 50%;
  background-color: white;
}

.footer ul{
  background-color: #29292a;
  color: white;
  text-decoration: none;
  width: 100%;
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  position:absolute;
  /*height: 120px;*/

}

.footer a{
  color: white;
  text-align: center;
  text-decoration: none;
  margin-bottom: 20px;
  margin-top: 20px;
  /*margin: 10px;*/
}

.footer li{
  display: inline;
  /*padding: 15px;*/
  margin:20px 20px 20px 20px;
  /*padding-bottom: 20px;*/
  border: 1px solid black;
}

.direct{
  font-style: italic;
}
.go{
  font-style: normal;
  font-weight: bold;
}




/*reference: http://www.wweek.com/restaurants/2017/10/03/downtowns-dil-se-makes-the-best-south-indian-dosas-weve-had-in-portland-city-limits/*/
