body {
	font-family:'Montserrat', sans-serif;
  width:100%;
}

.bod {
  margin-left: 60px;
}

header a{
  color:black;
  background:rgba(40,40,40,); 
  display:inline-block; 
  padding:0px 10px; 
  height:30px;
  line-height:30px; 
  text-align:left; 
  text-decoration:none;
  text-transform:uppercase; 
  letter-spacing:2px;
}

h1 {
	font-size: 40px;
	color: black;
	margin-bottom: 10px;
  padding: 0px;
}

.subhead h1{
  font-family: "Trade Gothic Condensed","Helvetica",sans-serif;
  text-align: left;
  font-size: 18px;
  line-height: 16px;
  color: #333;
  margin-bottom: 10px;
  font-weight: 300;
  max-width: 80%;
}

.headline h1{
  font-family: "Georgia", sans-serif;
  font-weight: bold;
  max-width: 80%;
}

.nav li { 
	color: black;
  background-color:rgb(200,200,200); 
	/*float:left;*/
  display: inline;
  margin: 5px;
  margin-bottom: 15px;
  padding: 10px;
}


.headerimage img {
  display: block;
  margin-right: 60px;
  max-width:80%;
}

.byline ul{
  margin-bottom: 20px;
  margin-top: 10px;
}

.byline li{
  display:inline;
  margin-right: 15px;
  font-size: 14px;
}

p{
  width: 600px;
  text-align: 40px;
  font-family: "Georgia", sans-serif;
  font-size: 18px;
  line-height: 28px;
  word-spacing: .5px;
  margin-bottom: 20px;
}

.embedimage img{
  width: 600px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer ul{
  background-color: #29292a;
  color: white;
  text-decoration: none;
  width: 100%;
  margin: 0px;
  text-align: center;
  padding: 60px;
  /*vertical-align: text-top;*/
}

.footer a{
  width: 100%;
  color: white;
  text-align: center;
  text-decoration: none;
}

.footer li{
  display: inline;
  padding: 15px;
  /*padding-bottom: 20px;*/
  border: 1px solid black;
  margin-bottom: 10px;

}


/*reference: http://www.wweek.com/restaurants/2017/10/03/downtowns-dil-se-makes-the-best-south-indian-dosas-weve-had-in-portland-city-limits/*/
